body {
  background-color: slategrey;
}

* {
  font-family: serif;
}

.todo-list {
  margin: auto;
  width: 12em;
  border: thick solid white;
  padding: 0;
  background: linen;

  /* center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.todo-list h1 {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  /*  color: grey; */
}

.delete_requested {
  color: grey;
}

.delete_failed {
  color: red;
}
